beautifulsoup4
certifi
charset-normalizer
idna
joblib
lxml
numpy
pandas
pyTelegramBotAPI
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
setuptools
six
soupsieve
telebot
threadpoolctl
tzdata
urllib3
